<p>
  <mat-toolbar>
   <span class="logo">My App</span>

   <a mat-button href="https://www.google.com/" target="_blank">
    <mat-icon>home</mat-icon>
    Animal index
   </a>
   <a mat-button href="https://www.google.com/" target="_blank">
    <mat-icon>people</mat-icon>
    Animal index
   </a>
   <a mat-button href="https://www.google.com/" target="_blank">
    <mat-icon>man</mat-icon>
    Animal index
   </a>

   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
   <button mat-flat-button color="warn">
    <mat-icon>message</mat-icon>
    <span>Invite</span>
   </button>
   <div mat-card-avatar class="example-header-image"></div>

 </mat-toolbar>
</p>
